# IDE specific
.idea/
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.sqlite3
env/
venv/
.venv/
/1.1-first-project/first_project/djvenv
/1.2-requests-templates/recipes/myvenv
/1.2-requests-templates/pagination/myvenv
/2.1-databases/work_with_database/myvenv
/2.1-databases/models_list_displaying/myvenv
/2.2-databases-2/orm_migrations/myvenv
/2.2-databases-2/m2m-relations/myvenv
/3.1-drf-intro/smart_home/myvenv

### Project specific ###
settings_local.py

### OS specific ###
.DS_Store